<template>
  <v-form
    ref="form"
    v-model="valid"
    lazy-validation
  >

    <v-row>
        <v-col cols="1">
            <v-switch v-model="customerStatus" :label="customerStatus == true ? 'Ativo' : 'Desativado'" dense class="mt-1"></v-switch>
        </v-col>
        <v-col cols="2">
            <v-select
                :items="customerType"
                label="Modelo"
                outlined
                dense>
            </v-select>
        </v-col>
        <v-col cols="2">
            <v-text-field
            v-model="createdAt"
            label="Data de Cadastro"
            outlined
            disabled
            dense
            ></v-text-field>
        </v-col>
        <v-col cols="2">
            <v-text-field
            v-model="updatedAt"
            label="Data de Alteração"
            outlined
            disabled
            dense
            ></v-text-field>
        </v-col>
    </v-row>
    <v-row>
        <v-col cols="4">
            <v-text-field
                v-model="customerName"
                label="Nome"
                required
                outlined
                dense
            ></v-text-field>
        </v-col>
        <v-col cols="3">
            <v-text-field
                v-model="customerCPF"
                :counter="14"
                :rules="rulesCPF"
                label="CPF"
                v-mask="cpfMask"
                required
                outlined
                dense
            ></v-text-field>
        </v-col>
    </v-row>

    <v-text-field
      v-model="name"
      :counter="10"
      :rules="nameRules"
      label="Nome"
      required
      outlined
    ></v-text-field>

    <v-text-field
      v-model="email"
      :rules="emailRules"
      label="E-mail"
      required
      outlined
    ></v-text-field>

    <v-select
      v-model="select"
      :items="items"
      :rules="[v => !!v || 'Item is required']"
      label="Item"
      required
      outlined
    ></v-select>

    <v-checkbox
      v-model="checkbox"
      :rules="[v => !!v || 'You must agree to continue!']"
      label="Do you agree?"
      required
    ></v-checkbox>

    <v-btn
      :disabled="!valid"
      color="success"
      class="mr-4"
      @click="validate"
    >
      Validate
    </v-btn>

    <v-btn
      color="error"
      class="mr-4"
      @click="reset"
    >
      Reset Form
    </v-btn>

    <v-btn
      color="warning"
      @click="resetValidation"
    >
      Reset Validation
    </v-btn>
  </v-form>
</template>

<script>

    import { mask } from 'vue-the-mask'

  export default {
      directives: {
        mask,
      },
    data: () => ({
      valid: true,
      customerName: '',
      nameRules: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 10) || 'Name must be less than 10 characters',
      ],
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
      select: null,
      items: [
        'Item 1',
        'Item 2',
        'Item 3',
        'Item 4',
      ],
      checkbox: false,
      customerStatus: true,
      customerType: ['Pessoa Física', 'Pessoa Jurídica'],
      createdAt: '09/11/2019',
      updatedAt: '09/11/2019',
      name: '',
      cpfMask: '###.###.###-##',
      customerCPF: '',
      rulesCPF: [
        v => (v && v.length <= 14) || 'Name must be less than 14 characters',
      ],
    }),

    methods: {
      validate () {
        if (this.$refs.form.validate()) {
          this.snackbar = true
        }
      },
      reset () {
        this.$refs.form.reset()
      },
      resetValidation () {
        this.$refs.form.resetValidation()
      },
    },
  }
</script>