<template>
  <div class="dashboard">
    <AppBar>
      <v-container style="min-width: 95%">
          <Tab :items="tabs">
              <!-- Tab -->
              <v-tab-item>
                  <v-container fluid>
                          <PersonalDate/>
                  </v-container>
              </v-tab-item>
          </Tab>
      </v-container>
    </AppBar>
  </div>
</template>

<script>

  import AppBar from '@/components/AppBar.vue'
  import Tab from '@/components/Tab.vue'
  import PersonalDate from '@/components/forms/customers/PersonalData.vue'

  export default {
  name: 'Dashboard',
  components: {
    AppBar,
    Tab,
    PersonalDate,
  },
  data () {
      return {
        tabs: [
          'Dados Pessoais', 'Dados Secundários', 'Contatos', 'Endereços', 'Vendedores', 'Forma de Pagamento'
        ],
      }
    },
  }
</script>