<template>
  <div class="dashboard">
    <AppBar>
      <v-container style="min-width: 95%">
        <CardInfo/>
        <Card/>
        <Table class="mt-5"/>
      </v-container>
    </AppBar>
  </div>
</template>

<script>

  import AppBar from '@/components/AppBar.vue'
  import CardInfo from '@/components/CardInfo.vue'
  import Card from '@/components/Card.vue'
  import Table from '@/components/Table.vue'

  export default {
  name: 'Dashboard',
  components: {
      AppBar,
      Card,
      Table,
      CardInfo,
    }
  }
</script>