<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" :clipped="$vuetify.breakpoint.lgAndUp" app>
      <v-list dense>
        <template v-for="item in items">
          <v-list-item :key="item.text" @click="log(item.route)" 
          :class="$route.name == item.route ? 'active' : ''">
            <v-list-item-action>
              <v-icon>{{item.icon}}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>{{item.text}}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      app
      color="blue darken-3"
      dark
    >
      <v-toolbar-title
        style="width: 300px"
        class="ml-0 pl-4"
      >
        <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
        <span class="hidden-sm-and-down">GoSales</span>
      </v-toolbar-title>
      <v-text-field
        flat
        solo-inverted
        hide-details
        prepend-inner-icon="search"
        label="Pesquisar"
        class="hidden-sm-and-down"
      />
      <v-spacer />
      <v-btn icon>
        <v-icon>mdi-apps</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon>mdi-bell</v-icon>
      </v-btn>
      <v-btn icon>
          <v-icon>mdi-logout-variant</v-icon>
      </v-btn>
    </v-app-bar>
    <v-content>
      <v-container fluid>
        <v-row
          align="center"
          justify="center"
        >
        <slot></slot>
        </v-row>
      </v-container>
    </v-content>
    <v-btn
      bottom
      color="pink"
      dark
      fab
      fixed
      right
      @click="dialog = !dialog"
    >
      <v-icon>mdi-plus</v-icon>
    </v-btn>
  </v-app>
</template>

<script>
  export default {
    props: {
      source: String
    },
    methods: {
      log: function (route) {
        this.$router.push(route);
      } 
    },
    data: () => ({
      dialog: false,
      drawer: null,
      items: [
        { icon: 'mdi-home', text: 'Início', route: 'dashboard'},
        { icon: 'mdi-cart', text: 'Realizar Venda', route: 'home'},
        { icon: 'mdi-account-badge-horizontal', text: 'Gerenciar Clientes', route: 'clientes'},
        { icon: 'mdi-cube', text: 'Gerenciar Produtos', route: '#'},
        { icon: 'mdi-cash-register', text: 'Contas a Pagar e Receber', route: '#'},
        { icon: 'mdi-chart-bar', text: 'Emitir Relatórios', route: '#'},
        { icon: 'mdi-truck', text: 'Gerenciar Fornecedores', route: '#'},
        { icon: 'mdi-account-multiple', text: 'Gerenciar Usuários', route: '#'},
        { icon: 'mdi-settings-outline', text: 'Configurações', route: '#'},
      ],
    }),
  }
</script>