<template>
    <div class="row d-flex">
        <v-col v-for="(item, i) in items" :key="i" :cols="columnSize(items.length)">
            <v-card :color="item.color" dark>
            <div class="d-flex flex-no-wrap justify-space-between">
                <div>
                    <v-card-subtitle v-text="item.title"></v-card-subtitle>
                    <v-card-title class="headline card-coin" v-text="item.value"></v-card-title>
                </div>

                <v-avatar class="ma-3" tile>
                    <v-icon style="font-size: 3rem" v-text="item.icon"></v-icon>
                </v-avatar>
            </div>
            </v-card>
        </v-col>
    </div>
</template>

<script>
  export default {
    methods: {
        columnSize(length) {
            return (12 / length);
        }
    },
    data: () => ({
      items: [
        {
          color: '#8BC34A',
          icon: 'mdi-cash-multiple',
          title: 'Contas a Receber',
          value: '560,00',
        },
        {
          color: '#F24436',
          icon: 'mdi-cash-refund',
          title: 'Contas a Pagar',
          value: '560,00',
        },
        {
          color: '#67C5F3',
          icon: 'mdi-cube-scan',
          title: 'Produtos em Estoque',
          value: '560,00',
        },
        {
          color: '#FFB300',
          icon: 'mdi-cart',
          title: 'Vendas Realizadas',
          value: '560,00',
        },
      ],
    }),
  }
</script>