<template>
  <v-card>
    <v-tabs background-color="white" color="deep-purple accent-4" left>
      <v-tab v-for="(tab, key) in items" :key="key">{{tab}}</v-tab>
      <slot></slot>
    </v-tabs>
  </v-card>
</template>

<script>

  export default {
    props:{
      items : Array
    },
  }
</script>