<template>
  <div id="app">
      <router-view/>
  </div>
</template>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.v-navigation-drawer__content .v-list-item__title a {
    text-decoration: none;
    color: #2c3e50;
}

.active .v-icon, .active .v-list-item__title {
  color: #e91e63 !important;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.card-coin:before {
    content: 'R$';
    display: block;
    font-size: 0.8rem;
    position: relative;
    margin-top: -7px;
    padding-right: 5px;
}
</style>
